# Environment Variables
.env

# Spoken Question
output.wav

# Output from Speech to Text
speech.mp3

# Saved memory
/conversation_history/*

# .DS_Store
**/.DS_Store

# Pycache
**/__pycache__/*

# huggingface version
hf_jarvis.py
